.container {
  justify-items: center;
  margin: 50px;
  text-align: center;
  display: block;
}

.btn {
  padding: 12px;
  margin-top: 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
}
